@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

*{
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}
.flash {
  animation: flash 0.5s infinite;
}